# Docker

# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

stages:
- stage: build_and_push
  displayName: Build and Push images
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'docker-hub'
        repository: 'balazske96/washing-time-calculator'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: 'latest'
